/* Navbar.module.css */
.navbar {
    background-color: #91203e;
    padding: 1rem 0rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .navItem {
    margin: 0 0.5rem;
  }
  
  .navLink {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navLink:hover {
    color: #fab438;
  }
  
  .active {
    background-color: #74102b;
  }